.item-list {
  margin: 24px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.item-list strong {
  color: #539bf5;
  font-size: 24px;
  margin: 24px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.item-list p {
  color: #999999;
  font-size: 15px;
  margin: 24px 0;
  font-family: Arial, Helvetica, sans-serif;
}
