.conteudo {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 70vh; /* O dele é 100vh, não 85vh */
  position: absolute;
  left: -320px; /* O dele é left: 0, não -400px */
  margin-top: 80px;
}

.info {
  width: 60%;
  margin-right: 290px;
  margin-top: 40px; /* Ele também adicionou um margin-top */
  color: #ffffff; /* Ele adicionou a cor branca */
}

input {
  border: 1px solid #999999;
  border-radius: 22px;
  width: 85%;
  margin-right: 12px;
  background: transparent;
  font-size: 18px;
  padding: 10px;
  color: white;
}

button {
  border: 1px solid #999999;
  border-radius: 22px;
  margin-right: 12px;
  background: #2d333b;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.perfil {
  display: flex;
  margin: 40px 0;
}

.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-right: 20px;
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid;
  margin-right: 32px;
}

.perfil h3 {
  color: #999999;
  font-size: 24px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.perfil p {
  color: #999999;
  font-size: 14px;
  margin: 20px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.perfil span {
  display: block;
  color: #999999;
  font-size: 12px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.repositorio {
  font-size: 32px;
  color: #ffffff;
  margin: 12px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
